/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  overflow-x: hidden;
}

a { color: #013f82; }
label { margin: 0; }
.row { margin: auto! important; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Global Fonts */

@font-face {
    font-family: 'Kalam';
    src: url('./assets/Kalam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: 700;
}

@font-face {
    font-family: 'Kalam';
    src: url('./assets/Kalam-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: 400;
}

#page-title {
    font-family: 'Kalam', cursive;
    font-size: 75px;
    font-weight: 700;
}


/* Common Styles */

.icon-white {
  fill: white;
}

.image-attribution {
    font-size: 10px;
}

.clipboard-button {
    border: 0;
    padding: 0;
    background: transparent;
    fill: inherit;
}

/* Display Status Section Styles */

.display-status {
    border: 2px #999 solid;
    border-radius: 4px;
    text-align: center;
    padding: 10px 0;
}

.display-status-normal {
    @extend .display-status;
    border-color: #999;
    color: #212529;
}

.display-status-error {
    @extend .display-status;
    border-color: #dc3545;
    color: #dc3545;
}

.display-status-success {
    @extend .display-status;
    border-color: #28a745;
    color: #28a745;
}

.display-status-progress {
    @extend .display-status;
    border-color: #17a2b8;
    color: #17a2b8;
}

/* Global Toast location */

.ngb-toasts {
    top: 60px !important;
}
