<div class='container mb-5'>
    <div class='row'>
        <div class='offset-lg-1 col-lg-10 col-md-12'>
            <h3 class='mt-5'>About</h3>
            <p>
                This project was made to enable some of the creators that I follow
                (<a href="https://www.youtube.com/lowbudgetgamingyt">Low Budget Gaming</a> &
                <a href="youtube.com/ShouldYouPlayIt">Should You Play It</a>)
                to be able to organize giveaway without putting alot of effort into logistics.
            </p>
            <h4 class='mt-4'>Creating Event</h4>
            <p>
                Unfortunately, I cannot let just anyone to create an event as this could promote
                scammers to do their thing. So, If you want to host an event, you'll need contact
                me at {{ contactAuthorText }} <email-copy-icon></email-copy-icon>.
            </p>
            <h4 class='mt-4'>How can we trust the results are random?</h4>
            <p>
                People and documentation lie but code never lies,
                <a
                    href="https://github.com/atb00ker/giveaway-app/blob/main/src/app/pick-event-winner/pick-event-winner.component.ts#L85-L97">
                    checkout the code of the function that picks the winner</a>.
                You don't need to be a developer to understand it, I have explained it in
                detail. This function doesn't run on server but on the browser of the person
                drawing winners, so no worries about tampering.
            </p>
            <h4 class='mt-4'>Privacy</h4>
            <ul>
                <li>
                    I am currently using Google Analytics to understand the usage of the website,
                    Google Analytics captures information like the pages visited, type of device
                    (mobile/desktop) and more. This information is used by me only in an aggregated
                    manner to understand how many people are visiting the website and from which
                    country so that I can scale up the servers in future according to the requirement.
                </li>
                <li>
                    When you login, your email address is saved in the Google Firebase
                    Authentication database. You can ask me to delete your email address from
                    the database at anytime, just drop me a mail at
                    {{ contactAuthorText }} <email-copy-icon></email-copy-icon>.
                </li>
                <li>
                    When you participate in an event, your name, message & email address is stored
                    in Google Firestore database. This information is shared with the event host.
                    (So that they can contact the lucky winner).
                </li>
            </ul>
            <p>
                <b>It may take a while for me to reply, but I'll try to do it within 2-3 days.</b>
            </p>
            <h4 class='mt-4'>Bugs & Contributions</h4>
            <p>
                If you've found a bug, please checkout the repository of the project as
                mentioned in the "open-source" section on this page. If an issue for the bug
                doesn't exist already, please open a new ticket.
            </p>
            <p>
                If you want to contribute to the project, please remember I don't want to add
                features that will take a lot of my time for maintenance, let's keep it simple.
                Please open an issue on GitHub to discuss the changes!
            </p>
            <h4 class='mt-4'>Open-Source</h4>
            <p>
                This is an open-source project,
                <a href="https://github.com/atb00ker/online-giveaway-organizer">the code for this site </a>
                can be found on GitHub.
            </p>

            <h4 class='mt-4'>License</h4>
            The <a href='https://github.com/atb00ker/giveaway-app'> Frontend (Angular) </a>
            is under <b>MIT License</b>.
            <br>
            The site favicon of the website is contributed by
            <a href='https://commons.wikimedia.org/wiki/File:ALiAS_Logo.png'>@parthsharma2</a> under
            <b>CC BY-SA License</b>.
            <br>
            Images used in the site are from <a href="https://www.freepik.com/">Freepik</a> &
            <a href="https://2.flexiple.com/scale/all-illustrations">Scale</a> and their license information
            is available at the respective sites.
            <br>
            License of dependencies like Angular, & Bootstrap and nodejs dependencies are mentioned in
            the documentation of the dependencies itself.
        </div>
    </div>
</div>
